{% extends "base.html" %}
| EXTEN
+------------
| TITLE
{% block title %}Home{% endblock %}
| FIM TITLE
+---------------
| HEAD
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/instances.css')}}">
{% endblock %}
| FIM HEAD
+------------
| CONTEÚDO
{% block body_main %}
<div class="box-content">
    <div class="card-list base-box-style">
        <p>teste</p>
    </div>
    <div class="box-table base-box-style">
        <table class="base-styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Instancia</th>
                    <th>Host</th>
                    <th>DNS</th>
                </tr>
            </thead>
            <tbody>
                {% if cardlist %}
                    {% for card in cardlist %}
                        <tr class="linha">
                            <td id="testejs">{{card[0]}}</td>
                            <td id="nomeInstancia">{{card[1]}}</td>
                            <td>{% if card[2] %}{{card[2]}}{% else %}N/A{% endif %}</td>
                            <td id="campo-dns">{% if card[3] %}{{card[3]}}{% else %}N/A{% endif %}</td>
                            <td id="table-button">
                                <div class="pop-icons">
                                    <a class="org-use-icon" href="{{ '/instances/%s'%card[0] }}">
                                        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                                    </a>
                                    {% if userIsAdmin %}
                                    <a class="org-del-icon" href="/home/">
                                        <ion-icon name="close-circle-outline"></ion-icon>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>            
                    {% endfor %}
                {% endif %}
                <!--Inicio Duplicata-->
                <!--Fim Duplicata-->
            </tbody>
        </table>
        
    </div>
</div>
{% endblock%}
| FIM CONTEUDO
+-------------------