{% extends "base.html" %}
| EXTEN
+------------
| TITLE
{% block title %}
Instances
{% endblock %}
| FIM TITLE
+---------------
| HEAD
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/instance.css')}}">
{% endblock %}
| FIM HEAD
+------------
| CONTEÚDO
{% block body_main %}
<div class="box-content">
    <div class="box-info box base-box-style">
        <h1>Instância</p>
    </div>
    <div class="box-instance-info base-box-style">
        <form action="" method="post">
            <div class="inputbox-container">

                <div class="inputbox">
                    <input type="text" required placeholder="ID da instância: ">
                    <label for="">ID</label>
                </div>

                <div class="inputbox">
                    <input type="text" required placeholder="Nome da instância:">
                    <label class="testelabel" for="">Nome</label>
                </div>

                <div class="inputbox">
                    <input type="text" placeholder="Endereço IP da instância:">
                    <label class="testelabel" for="">Host</label>
                </div>
                

                <div class="inputbox">
                    <input type="text" placeholder="Endereço DNS da instância:">
                    <label class="testelabel" for="">DNS</label>
                </div>

                <div class="inputbox">
                    <input type="text" required placeholder="Porta SSH da instância:">
                    <label class="testelabel" for="">Port</label>
                </div>

                <div class="inputbox">
                    <input type="text" required placeholder="Usuário SSH da instância:">
                    <label class="testelabel" for="">SSH User</label>
                </div>

                <div class="inputbox">
                    <input type="password" placeholder="Senha SSH da instância:">
                    <label class="testelabel" for="">SSH Password</label>
                </div>

                <div class="inputbox">
                    <input type="file" placeholder="Chave SSH da instância:">
                    <label class="testelabel" for="">SSH Private Key</label>
                </div>

            </div>
        </form>
</div>

{% endblock%}
| FIM CONTEUDO
+-------------------