<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <title>Side Navbar</title>
</head>
<body>
    <div class="tudo">
        <div class="sidenav">

            <div class="sidenav-top">
                <a href="#">Top 1</a>
                <a href="#">Top 2</a>
            </div>
            
            <div class="sidenav-content">
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
                <a href="#">Content 1</a>
                <a href="#">Content 2</a>
                <a href="#">Content 3</a>
                <a href="#">Content 1</a>
            </div>
    
            <div class="sidenav-footer">
                <a href="#">Footer 1</a>
                <a href="#">Footer 2</a>
            </div>
    
        </div>
        <div class="conteudo">
            <p>teste</p>
        </div>
    </div>
</body>
</html>