:root {
    
    --sidenav-background-color: rgba(0, 0, 0, 0.6);

    --sidenav-text-color: white;
    --sidenav-text-color-hightlight: var(--secondary-color);
    --sidenav-icon-color: white;
    
    --text-color: White;
    --text-color-highlight: var(--primary-color);

    --primary-color: rgb(69, 4, 122);
    --primary-color-transparent-weak: rgba(69, 4, 122, 0.1);
    --primary-color-transparent-strong: rgba(69, 4, 122, 0.6);

    --secondary-color: rgb(113, 79, 233);
    --secondary-color-transparent-weak: rgba(113, 79, 233, 0.1);
    --secondary-color-transparent-strong: rgba(113, 79, 233, 0.6);

    --table-text-color: var(--text-color);
    --table-text-color-highlight: var(--text-color-highlight);

    --table-primary-color: var(--primary-color);
    --table-primary-color-transparent: var(--primary-color-transparent-weak);

}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET*/





* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

/* js BACKGROUND */
canvas {
    width: fit-content;
    height: fit-content;
    z-index: -1;
    position: fixed;
    display: block;
}
/* fim js BACKGROUND */


main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: white;
    background-position: center;
    background-size: cover;
}

/* JINJA FLASH MESSAGES SNACK (copiado da net) */
#flash-messages #flash-snack {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 99999;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#flash-snack.show {
    z-index: 99999;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 1s;
    animation: fadein 1s, fadeout 1s 1s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }

    to {
        visibility: hidden;
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }

    to {
        visibility: hidden;
        bottom: 0;
        opacity: 0;
    }
}
/* FIM JINJA2 SNACK */

/* INICIO ROOT SIDENAV */
.sidenav {
    position: relative;
    top: 0;
    left: 0;
    width: 14em;
    height: 100%;
    z-index: 9999;
    padding: 0px 1em;
    background-color: var(--sidenav-background-color);
    /* backdrop-filter: blur(4px); */
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Esconder scroll, Edge */
    scrollbar-width: none; /* Esconder scroll, Firefox */
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidenav::-webkit-scrollbar {
    display: none; /* Esconder scroll, Chrome*/
}

/* INICIO CONFIGURAÇÃO PADRÃO POR ITEM // Config. de estilo por item */
.navitem {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navitem-icon {
    color: var(--sidenav-icon-color);
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
.navitem-item {
    transition-duration: 0.6s; /* transição quando o item perde o hover */
    -webkit-transition-duration: 0.6s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: var(--sidenav-text-color);
}

.navitem:hover .navitem-item { /* Efeito padrão de hover caso não seja sobre-escrito */
    cursor: pointer;
    transition-duration: 0.3s; /* transição para os efeitos do hover */
    transform: translateX(10px);
}
/* FIM DE CONFIGURAÇÃO PADRÃO POR ITEM */

/* SIDENAV TOP */
.sidenav-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}
/* FIM TOP*/


/* SIDENAV CONTENT */
.sidenav-content {
    border-top: 1px solid rgba(255, 255, 255, 0.24); 
    /*separador entre logo | content*/
    position: relative;
    margin: 10px 0px;
    background-color: transparent;
    color: var(--sidenav-text-color);
}

.navitem:hover .instances-item {
    color: var(--sidenav-text-color-hightlight);
}
/* FIM CONTENT */

/* SIDENAV FOOTER */
.sidenav-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    /*separador entre content | footer*/
    position: relative;
    margin: 0px 0px 10px 0px;
    width: 100%;
    margin-top: auto;
    background-color: transparent;
    position: relative;
    color: var(--sidenav-text-color);
}

/* Mudo só a cor */
.navitem:hover .logout-item{
    color: red;
}
.navitem:hover .admin-item {
    color: green;
}
.navitem:hover .dev-item {
    color: rgba(0, 162, 255, 0.815);
}
/* FIM FOOTER */
/* FIM SIDENAV */


/* Estilos básicos de caixas: */

/* Estilo Padrão de Caixas - 1 */
.base-box-style {
    /* Forma do 'card' */
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: brightness(20%) hue-rotate(-115deg); -115 red, +115 blue */
    /* muito lagado, preciso remover e substituir por um background rgba 0, 0, 0, 0.6 */
    /* width: ; era pra esticar <--| |--> */
    font-size: 18px;

    /* Alinha os itens, centralizados */
    display: flex;
    padding: 5px 10px;

    /* Estilização do conteúdo */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);

    max-width: 2160px;
}

.alt-base-box-style {
    /* Forma do 'card' */
    border: none;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: brightness(20%) hue-rotate(-115deg); -115 red, +115 blue */
    /* muito lagado, preciso remover e substituir por um background rgba 0, 0, 0, 0.6 */
    /* width: ; era pra esticar <--| |--> */
    font-size: 18px;

    /* Alinha os itens, centralizados */
    padding: 5px 10px;

    /* Estilização do conteúdo */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}


/* ESTILIZAÇÃO DE TABLES */

/*Estilização da tabela em si*/
.base-styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*Estilização de cada linha da tabela*/
.base-styled-table thead tr {
    background-color: var(--table-primary-color);
    color: var(--table-text-color);
    text-align: left;
}

/*Células de header e data tem um padding interno*/
.base-styled-table th, .base-styled-table td {
    padding: 12px 15px;
}

/*A primeira célula de header terá uma borda arredondada*/
.base-styled-table thead th:first-child {
    border-radius: 10px 0 0 0;
}

/*A ultima célula de header terá uma borda arredondada*/
.base-styled-table thead th:last-child {
    border-radius: 0 10px 0 0;
}

/*Há uma pequena borda entre cada linha*/
.base-styled-table tbody tr {
    position: relative;
    border-bottom: 1px solid #000000;
}

/*O fundo dos itens PARES será um pouco mais escuro (para diferenciação de linhas)*/
.base-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f30a;
}

/*O ultimo item terá uma borda destacada a baixo (consistente com a cor da tabela)*/
.base-styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-primary-color);
}

/*Não utilizado...*/
.base-styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--table-text-color);
}

/*Cor de fundo ao dar hover na linha*/
.base-styled-table tbody tr:hover {
    background-color: var(--primary-color-transparent-weak);
    color: var(--table-text-color-highlight);
    text-shadow: 0px 0px 3px var(--table-text-color-highlight);
}

/*Botões que aparecem no hover (css a baixo)*/
.base-styled-table tbody tr #table-button {
    display: none;
    text-decoration: none;
    color: var(--table-text-color-highlight);
    transition: 0.6s;
}

/*Aparecer o botão ao dar hover em uma linha*/
.base-styled-table tbody tr:hover #table-button {
    display: flex;
    position: absolute;
    right: 0px;
    text-decoration: none;
    color: var(--table-text-color-highlight);
}

/*Remover os estilos padrões dos botões*/
.base-styled-table tbody tr a { 
    color: inherit;
    text-decoration: inherit;
    scale: 115%;
}

/*Alinha os itens (header e data) no exato centro da célula*/
.base-styled-table tbody tr td, .base-styled-table thead tr th {
    vertical-align: middle;
    text-align: center;
}

/* FIM ESTILIZAÇÃO DE TABLES*/

/* FIM BOILERPLATE BASE DO VENUS */
