@import url(base.css);

.box-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 10px;
}

/*Customização da tabela base*/
.box-table {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Esconder scroll, Edge */
    scrollbar-width: none; /* Esconder scroll, Firefox */
}
.box-table::-webkit-scrollbar {
    display: none; /* Esconder scroll, Chrome*/
}

.base-styled-table {
    width: 100%;
}





.pop-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    transition: 0.6s;
}
.org-use-icon:hover {
    color: green;
    transition: 0.3s;
}
.org-del-icon:hover {
    color: red;
    transition: 0.3s;
}

/* END OF CARD LIST STYLING */