:root {
    
    --color-primary: rgb(197, 109, 248);

    --color-secondary: #118bee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

canvas {
    width: fit-content;
    height: fit-content;
    z-index: -1;
    position: fixed;
    display: block;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.sidenav {
    position: relative;
    top: 0;
    left: 0;
    width: 14em;
    height: 100%;
    z-index: 9999;
    padding: 0px 1em;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Esconder scroll, Edge */
    scrollbar-width: none; /* Esconder scroll, Firefox */
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidenav::-webkit-scrollbar {
    display: none; /* Esconder scroll, Chrome*/
}

.sidenav-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    filter: brightness(100);
}

.sidenav-content {
    border-top: 1px solid rgba(255, 255, 255, 0.24); /* pra separar a logo */
    position: relative;
    margin: 10px 0px;
    background-color: transparent;
    color: white;
}

.sidenav-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.24); /* pra separar o content */
    position: relative;
    margin: 0px 0px 10px 0px;
    width: 100%;
    margin-top: auto;
    background-color: transparent;
    position: relative;
    color: white;

}

.sidenav-item {
    transition-duration: 0.4s; /* transição quando o item perde o hover */
    -webkit-transition-duration: 0.4s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: inherit;
}

.sidenav-item:hover {
    transition-duration: 0.6s; /* transição para os efeitos do hover */
    transform: translateX(10px);
    border-radius: 25px;
    border-width: 1px;
    color: var(--color-primary); /* COR PRIMÁRIA */
}

/* SIDENAV-INSTÂNCIAS */
#instances {
    display: flex;
    align-items: center;
}

#instances-icon {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
}

#instances-item {
    transition-duration: 0.4s; /* mudei e nao sei pra q serve */
    -webkit-transition-duration: 0.4s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

#instances-item:hover {
    transition-duration: 0.6s;
    transform: translateX(10px);
    color: var(--color-primary);
}
/* FIM SIDENAV-INSTÂNCIAS*/









#logout {
    display: flex;
    align-items: center;
}

#logout-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

#logout-item {
    transition-duration: 0.4s; /* mudei e nao sei pra q serve */
    -webkit-transition-duration: 0.4s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

#logout-item:hover {
    transition-duration: 0.6s;
    transform: translateX(10px);
    color: rgba(255, 0, 0, 0.7);
}

/* SIDENAV-FOOTER para administradores */

#admin {
    display: flex;
    align-items: center;
}

#admin-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

#admin-item {
    transition-duration: 0.4s; /* mudei e nao sei pra q serve */
    -webkit-transition-duration: 0.4s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

#admin-item:hover {
    transition-duration: 0.6s;
    transform: translateX(10px);
    color: rgba(0, 255, 55, 0.7);
}

#dev {
    display: flex;
    align-items: center;
}

#dev-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

#dev-item {
    transition-duration: 0.4s; /* mudei e nao sei pra q serve */
    -webkit-transition-duration: 0.4s; /* Safari */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

#dev-item:hover {
    transition-duration: 0.6s;
    transform: translateX(10px);
    color: rgba(0, 162, 255, 0.815);
}

/* fim <> SIDENAV-FOOTER para administradores*/

#flash-messages #flash-snack {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 99999;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#flash-snack.show {
    z-index: 99999;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 1s;
    animation: fadein 1s, fadeout 1s 1s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }

    to {
        visibility: hidden;
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
        bottom: 30px;
        opacity: 1;
    }

    to {
        visibility: hidden;
        bottom: 0;
        opacity: 0;
    }
}













.conteudo {
    border: 2px solid red;
    background-color: grey;
    color: white;
    width: 100%;
    padding: 10px 10px 0px 10px;
}

/* CARD LIST STYLING */

.clickable-row {
    color: black;
    margin: 1px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-decoration: none;
    font-size: 26px;
    transition: 0.6s;
}

.row {
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    background: rgba(165, 209, 245, 0.199);
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: 0.3s;
}

.row:hover {
    background: rgba(0, 0, 0, 0.158);
    border-left: 3px solid var(--color-secondary);
    border-right: 3px solid var(--color-secondary);
}

.row:hover .clickable-row {
    color: rgb(194, 194, 194);
    transform: translateX(8px);
}

.campo {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15em;
    margin: 10px auto;
    justify-content: center;
    height: auto;
    font-size: 16px;
}

.row .pop-icons {
    display: flex;
    position: absolute;
    font-size: 26px;
    right: 0px;
    height: 100%; /* pra que centralizar né */
    align-items: center;
    justify-content: center;
    transform: translateX(-75%) translateY(8%);

    transition: 0.6s;
    opacity: -1;
}

.row:hover > .pop-icons {
    opacity: 1;
    transform: translateX(-25%) translateY(8%);
}


.org-use-icon {
    color: rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}
.org-use-icon:hover {
    color: greenyellow;
}


.org-del-icon {
    color: rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}
.org-del-icon:hover {
    color: red;
}

/* END OF CARD LIST STYLING */


/* FORM para org */

.org-form-value form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputbox input {
    height: 30px;
    outline: white;
}

/* FIM FORM para org*/